body {
    font-family: 'Noto Sans Devanagari', sans-serif;
    margin: 0;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

nav {
    background: rgba(0,0,0,0.4);
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 18px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: gold;
}

main {
    flex: 1;
    padding: 25px;
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 15px;
}

.menu {
    margin-bottom: 20px;
}

.menu a {
    display: inline-block;
    background: rgb(6, 0, 0);
    color: rgb(232, 232, 232);
    padding: 10px 15px;
    margin: 6px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    background: gold;
}


.section {
    display: none;
    background: white;
    color: black;
    max-width: 850px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 14px;
    text-align: left;
}

.section:target {
    display: block;
}

.section h2 {
    text-align: center;
    color: #1e3c72;
}

.rashi-img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto 20px;
    border: 4px solid #1e3c72;
}

.box {
    background: white;
    color: black;
    max-width: 750px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
}

button {
    background: #1e3c72;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.back {
    display: inline-block;
    margin-top: 15px;
    background: #1e3c72;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
}

footer {
    background: rgba(0,0,0,0.4);
    text-align: center;
    padding: 15px;
}

table {
    border-collapse: collapse;
    background: white;
    color: black;
}

th {
    background: #1e3c72;
    color: white;
}
td, th {
    border: 1px solid #ccc;
    padding: 10px 15px;
    text-align: center;
}
h1 {
    color: #adff08;
    margin-bottom: 20px;
}

.social{
    margin-top:25px;
    text-align:center;
}

.social-icon img{
    transition:0.3s;
    cursor:pointer;
}

.social-icon img:hover{
    transform:scale(1.2);
}
.creator-card{
    background:white;
    color:black;
    max-width:700px;
    margin:20px auto;
    padding:30px;
    border-radius:14px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.creator-card img{
    width:160px;
    height:160px;
    object-fit:cover;
    zoom: normal;
    border-radius:50%;
    margin-bottom:15px;
    border:4px solid #1e3c72;
}
main {
  background-image: url("images/backgroundcover.png");
  background-size: cover;
  background-position: center;
  height: 00px;
  width: auto;
}

sudip {
 
 color: chartreuse;
  margin: 20px auto;
}